# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Executable
video-compare

# Dependencies
*.d

# Videos
*.mov

# Mac OS X stuff
.DS_Store
