# Exclude embedded assets and vendored third-party code from Linguist statistics.
# Disable diffs for machine-generated binary asset headers.
source_code_pro_regular_ttf.h linguist-vendored -diff
sarasa_mono_sc_regular_ttf.h linguist-vendored -diff
video_compare_icon.h linguist-vendored -diff

stb_image_write.h linguist-vendored

*.sh text eol=lf