# exclude font and third party library from Linguist stats (it's going to skew the project towards being written in C if included)
source_code_pro_regular_ttf.h linguist-vendored
stb_image_write.h linguist-vendored
video_compare_icon.h linguist-vendored
*.sh text eol=lf
